html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

header {
  nav {
    margin-top: 16px;
    margin-right: 40px;
    
    ul {
      display: flex;
      justify-content: end;
  
      li {
        margin-left: 24px;
        
        a {
          font-size: 0.9rem;
          color: #fff;
          text-shadow: 1px 1px 2px #121212;
        }
      }
    }
  }
}