html {
  font-size: 100%;
  // max-width: 1280px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;
  nav {
    margin-top: 16px;
    margin-right: 40px;
    
    ul {
      display: flex;
      justify-content: end;
  
      li {
        margin-left: 24px;
        
        a {
          font-size: 0.9rem;
          color: #fff;
          text-shadow: 1px 1px 2px #121212;
        }
      }
    }
  }
}

.mainvisual {
  position: relative;
  margin-bottom: 20px;

  img {
    height: 100vh;
  }

  h1 {
    color: #fff;
    font-size: 115px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}