html {
  font-size: 100%;
}

body {
  font-size: 0.9rem;
  color: #383E45;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

header nav {
  margin-top: 16px;
  margin-right: 40px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header nav ul li {
  margin-left: 24px;
}

header nav ul li a {
  color: #fff;
  text-shadow: 1px 1px 2px #121212;
}

.mainvisual {
  position: relative;
  margin-bottom: 20px;
}

.mainvisual img {
  height: 100vh;
}

.mainvisual h1 {
  color: #fff;
  font-size: 115px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-img {
  position: relative;
  height: 300px;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-position: center;
}

.bg-img .sec-title {
  color: #fff;
  font-size: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-img.menu {
  background-image: url("../img/menu.jpg");
}

.bg-img.about {
  background-image: url("../img/about.jpg");
}

.bg-img.location {
  background-image: url("../img/location.jpg");
}

.wrapper {
  max-width: 1000px;
  margin: 96px auto 150px;
  padding: 0 16px;
  text-align: center;
}

.wrapper h3 {
  font-size: 2.5rem;
  display: inline-block;
  border-bottom: 6px solid #E03131;
  margin-bottom: 70px;
}

#menu .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .wrapper .left-side {
  width: 50%;
  border-right: 1px solid #000;
}

#menu .wrapper .right-side {
  width: 50%;
}

#menu .wrapper .right-side h3:nth-of-type(2) {
  margin-top: 72px;
}

#menu .wrapper dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 45px;
}

#menu .wrapper dl dt {
  margin-bottom: 24px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #000;
  width: 90%;
  text-align: left;
}

#menu .wrapper dl dd {
  margin-bottom: 24px;
}

#about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px;
}

#about ul li {
  width: 46%;
  line-height: 1.8rem;
  text-align: left;
  margin-bottom: 40px;
}

#about a {
  position: relative;
  color: #383E45;
  display: inline-block;
  margin-top: 10px;
  width: 160px;
  height: 50px;
  line-height: 50px;
}

#about a::before, #about a::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 2px;
  background-color: #E03131;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#about a::before {
  top: 0;
  left: 0;
}

#about a::after {
  bottom: 0;
  right: 0;
}

#about a:hover::after, #about a:hover::before {
  height: 100%;
}

#about a span {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

#about a span::before, #about a span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20%;
  background-color: #E03131;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#about a span::before {
  top: 0;
  left: 0;
}

#about a span::after {
  bottom: 0;
  right: 0;
}

#about a span:hover::before, #about a span:hover::after {
  width: 100%;
}

#location iframe {
  width: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  margin-bottom: 24px;
}

#location ul {
  text-align: left;
  line-height: 1.5rem;
}

#location ul li:nth-of-type(even) {
  margin-bottom: 16px;
}

footer {
  padding: 40px 0 10px;
  text-align: center;
  font-size: 0.625rem;
}

@media (max-width: 768px) {
  header nav {
    margin-top: 20px;
  }
  .mainvisual {
    margin-bottom: 10px;
  }
  .mainvisual h1 {
    font-size: 84.5px;
  }
  .bg-img {
    height: 94px;
    background-attachment: scroll;
  }
  .bg-img .sec-title {
    font-size: 2rem;
  }
  .wrapper {
    margin: 32px auto 80px;
  }
  .wrapper h3 {
    font-size: 1.25rem;
    margin-bottom: 24px;
  }
  #menu .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu .wrapper .left-side {
    width: 100%;
    border-right: none;
  }
  #menu .wrapper .right-side {
    width: 100%;
  }
  #menu .wrapper .right-side h3 {
    margin-top: 32px;
  }
  #about ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about ul li {
    width: 100%;
    margin-bottom: 16px;
  }
  #about a {
    margin-top: 24px;
  }
}
/*# sourceMappingURL=styles.css.map */